footer {
    position: sticky;
    width: 100%;
    bottom: 0;
}

.footer-container {
    background-color: rgb(7, 7, 7);
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
}

.footer-links {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.footer-container span {
    color: rgb(71, 71, 250);
    font-style: italic;
}

@media only screen and (max-width: 767px){
    footer {
        width: 100%;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    footer {
        width: 100%;
        font-size: 1.5rem;
    }
}