.home-gif {
    position: absolute;
    z-index: -1;
}

/* QUERIES  */
@media only screen and (max-width: 600px) {
    home-gif {
       height: 10vh; 
       width: 100px;
       border: 1px solid red;
    }

    .home-gif video {
        height: 100%;
        width: 100%;
    }
}