.music-image {
    margin: auto;
    background-color: rgb(21, 20, 20);
    /* padding: 2%; */
}

.music-main {
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 80px;
}

.music-image img {
    width: 80%;
    height: 330px;
}

.inner-section-one {
    display: flex;
    justify-content: space-evenly;
    width: 100%;    
    gap: 50px;
}

.inner-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inner-left:hover {
    cursor: pointer;
}

.section-one-content {
    width: 100%;
}

.section-one-content-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
}

.song-details {
    display: flex;
    align-items: center;
    gap: 20px;
    border-top: 1px solid grey;
    padding: 3% 0;
}

.song-details:hover {
    cursor: pointer;
}

.song-details img {
    height: 100px;
}

.albums {
    width: 100%;
}

.albums-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.more-details { 
    display: flex;
    flex-direction: column;
    text-align: start;
    text-transform: capitalize;
}

.larger img {
    width: 300px;
    height: 350px;
}

.modal .close {
    color: rgb(255, 255, 255);
    position: relative;
    right: 0;
}

@media only screen and (max-width: 600px) {
    .music-main {
        gap: 10px;
    }

    .music-image img {
        width: 100%;
    }
    
    .inner-section-one {
        gap: 0; 
        flex-direction: column-reverse;
    }

    .inner-left {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 10%;
        justify-content: space-between;
        padding-right: 7%;
    }

    .inner-left-title {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;
    }

    .section-one-content {
        margin-top: 4%;
    }

    .section-one-content-flex {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding-top: 2%;
    }

    .section-one-content h2 {
        text-align: start;
        margin-left: 4%;
        margin-top: 4%;
        font-size: larger;
    }
    
    .song-details img {
        height: 70px;
    }

    .section-one-content {
        margin: 0;
    }

    .albums-container {
        margin-bottom: 4%;
        overflow-x: scroll;
        gap: 15px;
    }

    .larger {
        flex-direction: column;
        padding-bottom: 20%;
    }

    .larger img {
        width: 250px;
        height: 200px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .music-main {
        font-size: 1.6rem;
    }
    .music-image img {
        width: 100%;
    }

    .section-one-content-flex {
        grid-template-columns: repeat(1, 1fr);
    }

    .inner-left {
        justify-content: center;
        gap: 100px;
    }

    .inner-left img {
        width: 400px;
    }

    .inner-left h2 {
        font-size: large;
    }

    .larger {
        flex-direction: column;
        margin-bottom: 12%;
    }
}